.instructions-container {
  padding: 20px;
  background-color: #1f1e1e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  color: #fff;
}

.command-box {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
  border: 1px solid #444;
  text-align: left; /* Ensure text is left-aligned */
}

.command-box pre {
  margin: 0;
}

.command-box code {
  white-space: pre-wrap;
  display: block;
  padding: 10px;
  background-color: #272822;
  border-radius: 8px;
  border: 1px solid #444;
  text-align: left; /* Ensure text is left-aligned */
}